.login {
    background: #F7F7F7;
}

.login_wrapper {
    right: 0;
    margin: 5% auto 0;
    max-width: 350px;
    position: relative;
}

.login_form {
    z-index: 22;
}

.login_form {
    position: absolute;
    top: 0;
    width: 100%;
}

.login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}